﻿@model webcuoiky.Models.CatMart

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@*
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CatMart</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateCreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateCreated)
            @Html.ValidationMessageFor(model => model.DateCreated)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
   *@
@using (Html.BeginForm("FileUpload", "CatMart", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
{

    <fieldset>
        <legend>Nhà hàng</legend>
        <div class="catmart">
            <b>Tiêu đề:</b> @Html.TextBoxFor(model=>model.Title) <br />
            <b>Miêu tả:</b> @Html.TextBoxFor(model => model.Body)

            @Html.ValidationMessageFor(model => model.Body)
            <br />
            <b>Đăng hình: </b><br /><input type="file" name="file" id="file" style="width: 100%;" /> <br />
            <br />

            <p>
                <input type="submit" value="Đăng" />
            </p>
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
