﻿@model IEnumerable<webcuoiky.Models.CatMart>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>
    *@
@foreach (var item in Model)
{
    <img src="~/images/@item.Image" width="125" height="150"><br />
   <b>Tựa Đề: </b><br /> @item.Title<br />
   <b>Miêu Tả: </b><br /> @item.Body<br/>
    @Html.ActionLink("Edit", "Edit", new { id=item.ID })
    @Html.ActionLink("Details", "Details", new { id=item.ID }) 
    @Html.ActionLink("Delete", "Delete", new { id=item.ID })<br />

    <hr /><br />
     
}
