﻿@model webcuoiky.Models.CommentCafeMeo
@using (Html.BeginForm("Create", "CommentCafeMeo", new { idpost = ViewData["idpost"] }))
{ 
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<fieldset>
    <legend>Comment</legend>


  
        <i>Ghi lời bình:</i>
        @Html.EditorFor(model => model.Body)
        @Html.ValidationMessageFor(model => model.Body)





    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>
}