﻿@model webcuoiky.Models.CafeMeo

@{
    ViewBag.Title = "Quán Cafe Mèo";
}

<h2>Quán Cafe Mèo</h2>
<img src="~/images/@Model.Image" width="125" height="150"><br />
<b>Tiêu đề:</b><br />
@Model.Title<br />
<b>Miêu tả:</b><br />
@Model.Body<br />

@Html.Partial("_addCommentCafeMeo",new webcuoiky.Models.CommentCafeMeo(), ViewData)
<u><b>Các bình luận khác</b></u>
<br />
@foreach (var cm in Model.CommentCafeMeos) {
    <p>Người đăng: @cm.UserProfile.UserName</p>
    @cm.Body
    <pre style="margin:0px;padding:0px;">                                          <i><b>Cách đây @cm.LastTime phút</b></i></pre>
    
    <hr />
    <br />
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
