﻿@model webcuoiky.Models.CafeMeo

@{
    ViewBag.Title = "FileUpload";
}

<h2>FileUpload</h2>
@using (Html.BeginForm("FileUpload", "CafeMeo", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
{

    <fieldset >
        <legend>Nhà hàng</legend>
        <div class="nhahang">
            Tiêu đề: @Html.TextBoxFor(model => model.Title)
            Miêu tả: @Html.TextBoxFor(model => model.Body)

            @Html.ValidationMessageFor(model => model.Body)
        <br />
        Đăng hình: <input type="file" name="file" id="file" style="width: 100%;" /> <br />
            <br />

        <p>
            <input type="submit" value="Đăng" />
        </p>
            </div>
    </fieldset>
}