﻿@model webcuoiky.Models.CommentBlog

@using (Html.BeginForm("Create", "CommentBlog", new { idpost = ViewData["idpost"] }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Comment</legend>



        <i>Ghi lời bình:</i>
        @Html.EditorFor(model => model.Body)
        @Html.ValidationMessageFor(model => model.Body)





        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}