﻿@model webcuoiky.Models.Blog

@{
    ViewBag.Title = "Details";
}


<b>Tiêu đề:</b><br />
@Model.Title<br />
<b>Miêu tả:</b><br />
@Model.Body<br />

@Html.Partial("_addCommentBlog", new webcuoiky.Models.CommentBlog(), ViewData)
<u><b>Các bình luận khác</b></u>
<br />
@foreach (var cm in Model.CommentBlogs)
{
    
    @cm.Body
    <pre style="margin:0px;padding:0px;">                                          <i><b>Cách đây @cm.LastTime phút</b></i></pre>

    <hr />
    <br />
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
