﻿@model webcuoiky.Models.MommentCute

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<img src="~/images/@Model.Image" width="125" height="150"><br />
<b>Tiêu đề:</b><br />
@Model.Title<br />
<b>Miêu tả:</b><br />
@Model.Body<br />

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
