﻿@model Account.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>



    <div class="display-label">
        @Html.DisplayNameFor(model => model.userProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userProfile.UserName)
    </div>
</fieldset>

    <fieldset>
        <legend>Tag</legend>
        @foreach (var tag in Model.Tags)
        {



            <div class="display-field">
                @Html.ActionLink(tag.content, "ViewTaginPost/" + tag.ID, "Post")
            </div>
        }
    </fieldset>

    @Html.Partial("_addComment", new Account.Models.Comment(), ViewData) <b>COMMENT</b>
    <fieldset>
        <legend>Comment</legend>
        <div id="result">
        @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
        {
            <div class="display-field">
                <h2>Cách đây: @Html.DisplayFor(x => comment.LastTime) phút </h2>
            </div>
            <div class="display-field">
                @Html.DisplayFor(x => comment.Body)
            </div>
        }
</div>
        

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
